.css_01_titulo1 {

  /* Características do componente */
  position: relative;
  display: block;


  /* Características do texto */
  
    font-family: $fontPrincipal;
    font-weight: 700;
    font-size: 24px;
    color: $preto;
    text-align: center;
    margin: 40px 0px 0px 0px;
    padding: 0px;
    text-transform: uppercase;
    }
