.css_02_texto_geral2 {
  display: block;
  text-align: center;
  font-size: 24px;
  color: $textColor;
  font-family: $fontPrincipal;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
 
}