.css_01_titulo3 {

  /* Características do texto */
  font-family: $fontPrincipal;
  font-weight: 600;
  font-size: 1.75rem;
  color: #4B4B4B;

  /* Características do componente */
  display: block;
  margin-top: 20px;
  padding: 0 68px;
  margin-bottom: 0px;
  line-height: 1.5em;



}