.css_01_titulo4 {

  /* Características do texto */
  font-family: $fontPrincipal;
  font-weight: 600;
  font-size:1.5rem;
  color: #71706F;

  /* Características do componente */
  display: block;
  position: relative;
  margin-top: 15px;
  padding: 0 68px;
  margin-bottom: 0px;
  line-height: 1.5em;

}