.css_01_titulo1 {

  /* Características do componente */
  position: relative;
  display: block;

  /* Variações de cores */
  &.artes {

      color: $art_cor2;
    }
  

  &.ciencias {
    
    
      color: $cie_cor2;
    
  }



  &.geografia {
    
      color: $geo_cor2;
    
  }

 
  &.historia {
    
      color: $his_cor2;
    
  }

 

  &.lingua_inglesa {
    
      color: $ing_cor2;
    
  }

  &.lingua_portuguesa {
   
      color: $por_cor2;
    
  }

 

  &.matematica {
    
      color: $mat_cor2;
    }
 
}

  /* Características do texto */
  .text{
    font-family: $fontPrincipal;
    font-weight: 800;
    font-size: 2.5rem;
    color: $preto;
    margin: 40px 68px 0px 68px;
    padding: 0px 0px 0px 0px;
    }
