.css_01_titulo_cap_num {

    /* Características do texto */
    font-family: $fontPrincipal;
    color: $preto;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
  
    /* Características do componente */
  
    margin-top: 2.5rem;
    padding: 0px 0px 16px 0px;
  
    /* Variações de cores */
    &.artes {
      background-color: #63B9E9;
      .icone_tituo1cap_num{
      background-image: url("https://livro-digital.p4ed.com/assets/icons/callis/01_TITULO_CAP_NUM_ART.svg.svg");
      width: 3.125rem;
      height: 3.125rem;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: left;
      position: absolute;
      z-index: 2;
      }
    }
  
  
    &.ciencias {
      background-color:#3AAA35;
      .icone_tituo1cap_num{
      background-image: url("https://livro-digital.p4ed.com/assets/icons/callis/01_TITULO_CAP_NUM_CIE.svg.svg");
      width: 3.125rem;
      height: 3.125rem;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: left;
      position: absolute;
      z-index: 2;
      }
      
    }
  
    &.geografia {
      background-color:#0080C9 ;
      .icone_tituo1cap_num{
      background-image: url("https://livro-digital.p4ed.com/assets/icons/callis/01_TITULO_CAP_NUM_GEO.svg");
      width: 3.125rem;
      height: 3.125rem;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: left;
      position: absolute;
      z-index: 2;
      }
    }
  
   
  
    &.historia {
      background-color: #8A1E82;
      .icone_tituo1cap_num{
      background-image: url("https://livro-digital.p4ed.com/assets/icons/callis/01_TITULO_CAP_NUM_HIS.svg");
      width: 3.125rem;
      height: 3.125rem;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: left;
      position: absolute;
      z-index: 2;
      }
    }
  
  
    &.lingua_inglesa {
      background-color: #E94E1B;
      .icone_tituo1cap_num{
      background-image: url("https://livro-digital.p4ed.com/assets/icons/callis/01_TITULO_CAP_NUM_ING.svg");
      width: 3.125rem;
      height: 3.125rem;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: left;
      position: absolute;
      z-index: 2;
      }
      
    }
  
    &.lingua_portuguesa {
      background-color: #E30613;
      .icone_tituo1cap_num{
      background-image: url("https://livro-digital.p4ed.com/assets/icons/callis//01_TITULO_CAP_NUM_LPO.svg");
      width: 3.125rem;
      height: 3.125rem;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: left;
      position: absolute;
      z-index: 2;
      }
    }
  
   
  
    &.matematica {
      background-color:#FFD500;
      .icone_tituo1cap_num{
      background-image: url("https://livro-digital.p4ed.com/assets/icons/callis//01_TITULO_CAP_NUM_MAT.svg");
      width: 3.125rem;
      height: 3.125rem;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: left;
      position: absolute;
      z-index: 2;
      }
    }
  }
  .text{
      font-family: $fontPrincipal;
      font-size: 2.625rem;
      font-weight: 400;
      color: $preto;
      margin: 40px 0px 0px 68px;
      padding: 0px 0px 0px 0px;
      }
  
  
  
  