<div class='css_06_boxe'>
  <div class="header_css_06_boxe">
    <div class="background_icon_css_06_boxe">
      <div class="icon_css_06_boxe"></div>
    </div>
    <div class="background_css_06_boxe">
      <h1 class="title_css_06_boxe"  doc-editable="title">Digite o Título</h1>
    </div>
  </div>
  <div class="main_css_06_boxe" doc-container="main"></div>
  <footer class="footer_css_06_boxe">
    <p class="legenda_css_06_boxe" doc-editable="text">
      Digite a legenda
    </p>
  </footer>
</div>